<div id="<%= dom_id e_contrato %>">
  <p>
    <strong>E empresa:</strong>
    <%= e_contrato.e_empresa_id %>
  </p>

  <p>
    <strong>E cliente:</strong>
    <%= e_contrato.e_cliente_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= e_contrato.user_id %>
  </p>

  <p>
    <strong>Numero contrato:</strong>
    <%= e_contrato.numero_contrato %>
  </p>

  <p>
    <strong>G banco:</strong>
    <%= e_contrato.g_banco_id %>
  </p>

  <p>
    <strong>G status contrato:</strong>
    <%= e_contrato.g_status_contrato_id %>
  </p>

  <p>
    <strong>G tipo operacao:</strong>
    <%= e_contrato.g_tipo_operacao_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= e_contrato.produto %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= e_contrato.valor_total %>
  </p>

  <p>
    <strong>Quantidade parcelas:</strong>
    <%= e_contrato.quantidade_parcelas %>
  </p>

  <p>
    <strong>Valor parcela:</strong>
    <%= e_contrato.valor_parcela %>
  </p>

  <p>
    <strong>Valor comissao:</strong>
    <%= e_contrato.valor_comissao %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= e_contrato.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= e_contrato.data_fim %>
  </p>

  <p>
    <strong>User created:</strong>
    <%= e_contrato.user_created_id %>
  </p>

  <p>
    <strong>User updated:</strong>
    <%= e_contrato.user_updated_id %>
  </p>

</div>
