<div id="<%= dom_id e_cliente %>">
  <p>
    <strong>E empresa:</strong>
    <%= e_cliente.e_empresa_id %>
  </p>
  <p>
    <strong>Nome completo:</strong>
    <%= e_cliente.nome_completo %>
  </p>
  <p>
    <strong>Cpf:</strong>
    <%= e_cliente.cpf %>
  </p>
  <p>
    <strong>Data nascimento:</strong>
    <%= e_cliente.data_nascimento %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= e_cliente.email %>
  </p>
  <p>
    <strong>Telefone:</strong>
    <%= e_cliente.telefone %>
  </p>
  <p>
    <strong>Nome social:</strong>
    <%= e_cliente.nome_social %>
  </p>
  <p>
    <strong>Endereco:</strong>
    <%= e_cliente.endereco %>
  </p>
  <p>
    <strong>Matricula:</strong>
    <%= e_cliente.matricula %>
  </p>
  <p>
    <strong>Alfabetizado:</strong>
    <%= e_cliente.alfabetizado %>
  </p>
  <p>
    <strong>Ultima margem:</strong>
    <%= e_cliente.ultima_margem %>
  </p>
  <p>
    <strong>Data ultima margem:</strong>
    <%= e_cliente.data_ultima_margem %>
  </p>
  <p>
    <strong>Ano admissao:</strong>
    <%= e_cliente.ano_admissao %>
  </p>
  <p>
    <strong>Pensionista:</strong>
    <%= e_cliente.pensionista %>
  </p>
  <p>
    <strong>Numero beneficio:</strong>
    <%= e_cliente.numero_beneficio %>
  </p>
  <p>
    <strong>Possui representante legal:</strong>
    <%= e_cliente.possui_representante_legal %>
  </p>
  <p>
    <strong>Created by:</strong>
    <%= e_cliente.created_by %>
  </p>
  <p>
    <strong>Updated by:</strong>
    <%= e_cliente.updated_by %>
  </p>
  <p>
    <strong>Deleted at:</strong>
    <%= e_cliente.deleted_at %>
  </p>
  <p>
    <strong>G sexo:</strong>
    <%= e_cliente.g_sexo_id %>
  </p>
  <p>
    <strong>G estado:</strong>
    <%= e_cliente.g_estado_id %>
  </p>
  <p>
    <strong>G cidade:</strong>
    <%= e_cliente.g_cidade_id %>
  </p>
  <p>
    <strong>G bairro:</strong>
    <%= e_cliente.g_bairro_id %>
  </p>
  <p>
    <strong>G orgao:</strong>
    <%= e_cliente.g_orgao_id %>
  </p>
  <p>
    <strong>G tipo beneficio:</strong>
    <%= e_cliente.g_tipo_beneficio_id %>
  </p>
  <p>
    <strong>G status cliente:</strong>
    <%= e_cliente.g_status_cliente_id %>
  </p>
</div>
