<div id="<%= dom_id e_meta %>">
  <p>
    <strong>E empresa:</strong>
    <%= e_meta.e_empresa_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= e_meta.user_id %>
  </p>

  <p>
    <strong>Valor meta:</strong>
    <%= e_meta.valor_meta %>
  </p>

  <p>
    <strong>Referencia:</strong>
    <%= e_meta.referencia %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= e_meta.descricao %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= e_meta.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= e_meta.updated_by %>
  </p>

</div>
