<div id="<%= dom_id e_empresa %>">
  <p>
    <strong>Razao social:</strong>
    <%= e_empresa.razao_social %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= e_empresa.cnpj %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= e_empresa.endereco %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= e_empresa.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= e_empresa.telefone %>
  </p>

  <p>
    <strong>G cidade:</strong>
    <%= e_empresa.g_cidade_id %>
  </p>

</div>
