<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Aguiar Assessoria - Especialistas em Empréstimo Consignado</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/layout/assets/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/layout/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/layout/assets/img/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/layout/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/layout/assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/layout/assets/img/android-chrome-512x512.png">
    <link rel="manifest" href="/layout/assets/img/site.webmanifest">
    <meta name="theme-color" content="#ffffff">
    <!-- Metadados Rails -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- CSS -->
    <%= stylesheet_link_tag "/layout/assets/fonts/inter/inter.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/icons/phosphor/styles.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/all.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/animate.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "landing_page", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
    <!-- Script do AOS deve ser carregado após o conteúdo da página -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      // Inicializar AOS
      function initializeAOS() {
        AOS.init({
          duration: 1000,
          once: true
        });
      }

      // Iniciar o AOS quando a página for carregada
      document.addEventListener('DOMContentLoaded', function() {
        initializeAOS();
      });

      // Inicializar o AOS após troca de página com Turbo
      document.addEventListener('turbo:load', function() {
        initializeAOS();
      });

      // Efeito de scroll da Navbar
      window.addEventListener('scroll', function() {
        if (window.scrollY > 50) {
          document.querySelector('.navbar').classList.add('navbar-scrolled');
        } else {
          document.querySelector('.navbar').classList.remove('navbar-scrolled');
        }
      });

      // Scroll suave para links de âncoras
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function(e) {
          e.preventDefault();
          document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
          });
        });
      });
    </script>
  </body>
</html>
